nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    position: sticky;
    padding: .5rem;
    top: 0;
    z-index: 1000;
    background: white;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-logo p {
    color: #171717;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 3px; */
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-login-cart button {
    width: 7rem;
    height: 2rem;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    border-radius: 75px;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-card-count {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    margin-left: -3.1rem;
    border-radius: 11px;
    background: red;
    font-size: 14px;
    color: white;

}

nav ul :Link {
    text-decoration: none;
}

#menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2rem;
}

.menuAndcard {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

/* phone*/
@media (max-width: 767px) {



    nav {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .menuAndcard {
        display: none;
        /* flex-direction: column; */
        flex-wrap: wrap;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: white;
        box-shadow: 0 1px 3px -2px black;
        width: 100%;
        padding: .5rem 2rem;
    }

    #menu-toggle {
        display: block;

    }

    .menuAndcard.show {
        display: flex;
        justify-content: center;
        gap: 0rem;
    }




}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: lightgreen;
    }
}